#mainbtn {
  position: relative;
  top: 8px;
  left: -120px;
  width: 250px;
  padding: 8px 8px 8px 8px;
  background-color: none;
  border-color: blue;
}

#mainbtn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
